<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" href="../../../utils/local-utils/requirement.css"/>
    <link type="text/css" rel="stylesheet" href="../../../style/css/workbench_table.css"/>

    <script src="../../../utils/local-utils/requirement.js"></script>
    <script src="../../../utils/local-utils/workbench_table.js"></script>
    <script src="./js/user_mg_main.js"></script>
</head>

<body style="height:100%;">
    <div id="seach_area" class=" base_float_top seach_area">
        <div>
            <div id="seach_div" class=" base_float seach_div">
                <div class=" base_float search_condition_area">
                    <input type="text" class="search_input" id="user_id" placeholder="请输入用户ID" />
                    <input type="text" class="search_input" id="user_name" placeholder="请输入用户名" />
                    <!--<input type="text" class="search_input " id="user_id" placeholder="请输入用户ID" />-->
                </div>
                <div class=" base_float_right search_btn_area">
                    <button id="search_btn" type="button" class="search_button" >
                        查询
                    </button>
                </div>
            </div>
            <div id="operation_div" class=" base_float_right operation_div">
                <button id="add_user_btn" type="button" onclick="add_user()" class="add_button" >
                    新增
                </button>
            </div>
        </div>

        <!--<div class=" search_split">-->
            <!--<div class="base_float collapse_split" onclick="showAllSearchInput()" >-->
                <!--<span class="glyphicon glyphicon-fullscreen"></span>-->
            <!--</div>-->

            <!--<div class="base_float last_split"></div>-->
        <!--</div>-->

    </div>
    <div id="table_area" class=" base_float_top table_area">
        <table id="user_table" class="workbench_table">
            <thead>
                <tr>
                    <th>用户ID</th>
                    <th>用户名称</th>
                    <th>用户类型</th>
                    <th>注册日期</th>
                    <th>用户状态</th>
                    <th>最近一次登录</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
            </tbody>

        </table>

    </div>
    <div id=" paging_area" class=" paging_area">
        <ul class=" paging ">
        </ul>
    </div>

</body>
</html>