<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" href="../../../utils/local-utils/requirement.css"/>
    <link type="text/css" rel="stylesheet" href="../../../style/css/workbench_table.css"/>

    <script src="../../../utils/local-utils/requirement.js"></script>
    <script src="../../../utils/local-utils/workbench_table.js"></script>
    <script src="./js/user_grp_teamer.js"></script>
</head>
<body>
    成员管理界面
</body>
</html>