@import "../public-utils/bootstrap.3.3.7/css/bootstrap.min.css";
@import "../public-utils/bootstrap.3.3.7/css/bootstrap.min.css.map";

html,body{
    height:100%;
    width:100%;
}

.show_border{
    border:1px solid black;
}