
@import "./paging_data.css";

/**
*表格
*/
.table_area{
    padding-top:10px;
    padding-bottom:10px;
    /*border-top:1px solid black;*/
}

.workbench_table{
    width:90%;
    margin-left:5%;
    /*border:1px solid #ddd;*/
    /*-moz-border-radius:5px;*/
    /*-webkit-border-radius:5px;*/
    /*!*border-radius:50px;*!*/
    /*border-radius: 5px;*/
    /*border-spacing: 0;*/
    /*border-collapse: collapse !important;*/
    /*border-collapse: separate  !important;*/
    text-align: center;

}

.workbench_table>tbody>tr{
    height:60px;
}

.workbench_table_colorful{
    background-color: #CFDAEE;
}

.workbench_table th{
    /*background-color: #f2f2f2;*/
    background-color: #F0F4FD;
    text-align: center;
    height:40px;
    color:#7E92B7;
    font-style:normal;
    font-weight:normal;
}

.workbench_table td{
    /*border:0.5px solid #ddd!important;*/
    height:35px;
}

.workbench_table tr:hover{
    /*background-color: #2b669a;*/
}

.workbench_table_operation{
    cursor:pointer;
}

/**
*检索栏或操作栏按钮
*/

.seach_area{
    /*padding-left:5%;*/
    /*padding-right:5%;*/
    /*padding-top:10px;*/
    padding:10px 5% 0px 5% ;
    width:90%;
}

